@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scroll-behavior: smooth;
}
.customScrollBar {
  overflow-y: scroll;
}
.customScrollBar::-webkit-scrollbar {
  width: 0px;
}
@font-face {
  font-family: "SEGO";
  src: url(../media/sego/SEGO.ttf);
}
.sego{
  font-family: "SEGO";
}